# Python cache
**.pyc

# Sudoku source files
*.sdk

# Easy example source file
!data/1.sdk

# Harder example source file
!data/3.sdk

# Builds
build/**

# CMake
**/CMakeCache.txt
**/CMakeFiles/**
**/Makefile
**.user
*.cmake

# Comiled libraries
**.cbp